.inbox-item-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  padding: 16px;
}

.inbox-item-details-container {
  display: flex;
  flex-direction: column;
}

.inbox-item-unread-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.inbox-item-unread-indicator {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #2b43f7;
  margin: 8px;
}

.inbox-item-title {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.inbox-item-message {
  font-size: 12px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.inbox-item-caption {
  font-size: 10px;
  font-weight: normal;
}

.inbox-item-attachment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16px;
}

.inbox-item-attachment-image {
  width: 96px;
  height: 64px;
}

.inbox-item-empty-attachment {
  background-color: lightgray;
  width: 64px;
  height: 42px;
}
